;########################################################################################
;	Archivo de configuración de sitio (core.framework.config)
;	copiar este archivo en la raíz del sitio
;	editar los valores según su configuración de base de datos, url y plantilla
;########################################################################################
[application]
controllers-path = "components/controllers/$1"
models-path = "components/models/$1/$2"
views-path = "components/views/$1/$2"
dataobjects-path = "components/models/$1/$2.do"
libraries-path = libraries
debug-mode = "off | application | session"
session-mode = "strict | loose | off"
default-controller = hello/world
[controllers]
path =
default =
[models]
path =
[views]
path =
[libraries]

[datastore]
driver = mysql
server = localhost
port = 3306
user = root
password = root
database = liteframework
[url]
dir = basic
index = index.php
default = hw/hello
[template]
name = default