;########################################################################################
;	Archivo de configuración de sitio (lite.framework.config)
;	copiar este archivo en la raíz del sitio
;	editar los valores según su configuración de base de datos, url y plantilla
;########################################################################################
[database]
driver = mysql5
server = localhost
port = 3306
user = 
password = 
database = 
[url]
dir = path/to/index
index = index.php
default = default/component
[template]
name = default