;########################################################################################
;	Archivo de configuración de sitio (core.framework.config)
;	copiar este archivo en la raíz del sitio
;	editar los valores según su configuración de base de datos, url y plantilla
;########################################################################################
[application]
controllers-path = "components/$1/controller.php"
models-path = "components/$1/models/$2"
views-path = "components/$1/views/$2"
dataobjects-path = "components/$1/models/objects/$2"
libraries-path = libraries
objects-path = "components/$1/$2"
templates-path = "components/$1/templates/$2"
modules-path = "components/$1/modules/$2"
debug-mode = "off | application | session"
default-controller = web/index
[datastore]
driver = mongo
server = localhost
port = 27017
database = kunan_web
[session]
mode = "off | application | session"
storage = Datastore
storage-table = erp_ac_sess